header {
 position: relative;


}

/* ==========================================================================
Social Icons
========================================================================== */
.social {
  position: absolute;
  right:20px;
  top: 50%;
  transform: translateY(-50%);
}