.masthead {
  position: relative;
  
  .masthead_left,
  .masthead_right {
    height: 95vh;
  }

  .masthead_left {
    background-color: $color-primary;
  }

  .masthead_right {
    background-color: $alabaster-white;
    background-color: $gray-200;
    .about {
      color: #000;
    }
  }
}

