.projects {
  position: relative;
  max-width: 95vw;
  padding: 25rem 0;
  background-color: $color-grey-light-1;

  .section-heading {
    position: absolute;
    top: 15%;
    left: 3%;
    z-index: 200;

    span {
      margin-left: 20px;
    }
  }

  &__image {
    width: 100%;
  }
}