.masthead__text {
  font-size: 9rem;
  font-weight: 800;
  line-height: 8rem;

}

p {
  font-size: $default-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

section {
  padding: 100px 0;

  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}


