*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }

a {
  text-decoration: none;
  color: #fed136; }
  a:hover {
    color: #fec503; }

.text-primary {
  color: #fed136 !important; }

section {
  padding: 100px 0; }

img {
  width: 100%; }

.body-content {
  background-color: #f9f9f9;
  width: 95vw;
  margin: 0 auto;
  position: relative;
  z-index: 20; }

.container {
  max-width: 100% !important; }

/* ==========================================================================
Waypoints
========================================================================== */
.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

/* ==========================================================================
keyframes
========================================================================== */
@-webkit-keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px); }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.arrow {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 2%;
  color: black; }
  .arrow a {
    color: #000; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

.masthead__text {
  font-size: 9rem;
  font-weight: 800;
  line-height: 8rem; }

p {
  font-size: 1.6rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }

section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }

.masthead {
  position: relative; }
  .masthead .masthead_left,
  .masthead .masthead_right {
    height: 95vh; }
  .masthead .masthead_left {
    background-color: #dcb354; }
  .masthead .masthead_right {
    background-color: #f9f9f9;
    background-color: #e9ecef; }
    .masthead .masthead_right .about {
      color: #000; }

.skills {
  width: 95vw;
  padding: 30rem 0 45rem;
  margin-bottom: -15rem;
  background-color: #f8f9fa; }

.skills__block {
  margin: 0 auto;
  min-height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform .3s; }
  .skills__block i {
    font-size: 5rem;
    margin-bottom: .5rem;
    display: inline-block;
    color: #dcb354; }
  .skills__block h2 {
    padding: 1rem 0; }
  .skills__block:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.experience {
  width: 95vw;
  position: relative;
  z-index: 1;
  padding: 15rem 0 30rem;
  background-image: linear-gradient(to right bottom, #9c7008, #e2dac7);
  background-size: cover;
  transform: skewY(-7deg); }
  .experience > * {
    transform: skewY(7deg); }
  .experience__item {
    margin-top: 2rem;
    padding: 0 20px;
    width: 70%; }
    .experience__item:nth-child(odd) {
      text-align: right;
      margin-left: auto; }
      .experience__item:nth-child(odd) p {
        margin-left: auto; }

.projects {
  position: relative;
  max-width: 95vw;
  padding: 45rem 0;
  margin-top: -15rem;
  background-color: #f8f9fa; }
  .projects .section-heading {
    position: absolute;
    top: 15%;
    left: 3%;
    z-index: 200; }
    .projects .section-heading span {
      margin-left: 20px; }
  .projects__image {
    width: 100%; }

/* ==========================================================================
Blog
========================================================================== */
.blog {
  background-color: #f6f7f9;
  width: 95vw; }
  .blog__header {
    text-align: center; }
  .blog .blog-post {
    height: 35rem;
    width: 30rem; }
    .blog .blog-post__header {
      height: 30%;
      background-color: red; }
    .blog .blog-post__body {
      height: 70%;
      background: color #e6e6e6; }

section#contact {
  background-image: linear-gradient(rgba(156, 112, 8, 0.6), rgba(226, 218, 199, 0.6)), url("../images/contact-image.jpg");
  background-repeat: no-repeat;
  background-position: center; }
  section#contact .section-heading {
    color: #fff; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 248px; }
  section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }
  section#contact :-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }
  section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }
  section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.nav-hamburger {
  font-size: 3rem;
  cursor: pointer;
  z-index: 40;
  position: fixed;
  top: 50%;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  left: 1.8%; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }
