/* ==========================================================================
Hero
========================================================================== */

.hero {
  height: 90vh;
  width:95vw;
  position: relative;
  
  display: flex;
  margin-top:5%;

  &__left-col,
  &__right-col {
    @include centerContent;

    width: 50%;
  }

  &__left-col {
    background-color: $main-red;

    .hero__text {
      
      font-size: 9rem;
      font-weight: 800;
      line-height: 8rem;

      span {
        color: $main-red;
      }
    }
  }

  &__right-col {
    background-color: $alabaster-white;
    
    .about {
      color: #fff;
    }
  }
}

a {
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
  position: absolute;
  left: 48%;
  bottom: -15%;
  color: black;

  a {
    color: #000;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

