/* ==========================================================================
Hero
========================================================================== */

.hero {
  height: 90vh;
  width:95vw;
  position: relative;
  
  display: flex;
  margin-top:5%;

  &__left-col,
  &__right-col {
    @include centerContent;

    width: 50%;
  }

  &__left-col {

    .hero__text {
      
      font-size: 9rem;
      font-weight: 800;
      line-height: 8rem;

      span {
        color: $main-red;
      }
    }
  }

  &__right-col {
    background-color: $alabaster-white;
    
    .about {
      color: #fff;
    }
  }
}

a {
  text-decoration: none;
}