/* ==========================================================================
Projects
========================================================================== */

.projects {
  position: relative;
  max-width: 95vw;
  margin: 10rem 0;

  &__header {
    position: absolute;
    top: -18%;
    z-index: 20;
    font-size: 4rem;
    font-weight: 800;
    line-height: 45px;

    span {
      margin-left: 20px;
    }
  }

  &__image {
    width: 100%;
  }
}