.skills {
  width: 95vw;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-dark, 0.8),
    rgba($color-primary-light, 0.8));
  background-size: cover;

  transform: skewY(-7deg);

  &>* {
    transform: skewY(7deg);
  }

}

.experience {
  width: 95vw;
  margin: 10rem 0;

  &__item {
    margin-top: 2rem;
    padding: 0 20px;
    width: 70%;

    &:nth-child(odd) {
      text-align: right;
      margin-left: auto;

      p {
        margin-left: auto;
      }
    }
  }

  &__img {}

  &__copy {}
}