
.skills {
  width: 95vw;
  margin: 10rem 0;
  background-color: $alabaster-white;

  .row {
    align-items: center;
    padding: 0;
  }
  
  &__block {
    text-align: center;
    justify-content: center;
    padding: 5rem 0;
  }

  &__icon {
    vertical-align: top;
    text-align: center;
    font-size: 3rem;
    line-height: 1rem;
    color: #000;
    font-family: FontAwesome;
  }

  &__body {
    display: inline-block;
    margin-left: 0;
    width: 50%;
  }

  &__header {
    margin: 1.5rem 0;
    padding: 0;
    // color: #24374b;
    font-size: 1.5rem;
  }

  &__p {
    width: 100%;
    font-size: 1rem;
    // color: #778899;
  }
}

.experience {
  width: 95vw;
  margin: 10rem 0;

  &__item {
    margin-top: 2rem;
    width: 70%;

    &:nth-child(odd) {
      text-align: right;
      margin-left: auto;

      p {
        margin-left: auto;
      }
    }
  }

  &__img {
    
  }

  &__copy {
    
  }
}
