/* ==========================================================================
Hero
========================================================================== */

.hero {
  height:60rem;

  height: 80vh;
  display: flex;
  margin-top:5%;
  grid-column: 1 / 5;

  &__left-col {
    @include centerContent;
    position: relative;
    background-color: $main-red;
    width:50%;

    .rw-wrapper {
      position: absolute;
      top:0%;
      left: 116%;
      width: 75%;
      font-family: 'Open Sans';
      padding-top: 5rem;
      text-align: center;
      &__sentence {
        margin: 0;
        text-align: left;
        span {
          color: #fff;
          font-size: 3rem;
          font-weight: normal;
        }
        &--words {
          display: inline;
          text-indent: 1rem;
          dsplay: none;
        }
        &--words-1 span {
          position: absolute;
          opacity: 0;
          overflow: hidden;
          color: #fff;
          -webkit-animation: rotateWord 18s linear infinite 0s;
          -ms-animation: rotateWord 18s linear infinite 0s;
          animation: rotateWord 18s linear infinite 0s;
        }
        &--words-1 span:nth-child(2) {
          -webkit-animation-delay: 3s;
          -ms-animation-delay: 3s;
          animation-delay: 3s;
          color: #fff;
        }
        &--words-1 span:nth-child(3) {
          -webkit-animation-delay: 6s;
          -ms-animation-delay: 6s;
          animation-delay: 6s;
          color: #fff;
        }
        &--words-1 span:nth-child(4) {
          -webkit-animation-delay: 9s;
          -ms-animation-delay: 9s;
          animation-delay: 9s;
          color: #fff;
        }
        &--words-1 span:nth-child(5) {
          -webkit-animation-delay: 12s;
          -ms-animation-delay: 12s;
          animation-delay: 12s;
          color: #fff;
        }
        &--words-1 span:nth-child(6) {
          -webkit-animation-delay: 15s;
          -ms-animation-delay: 15s;
          animation-delay: 15s;
          color: #fff;
        }
      }
    }
  }
  &__right-col {
    @include centerContent;
    width:50%;
    background-color: $mid-black;
  }
}

