/* ==========================================================================
Hero
========================================================================== */

.hero {
  height:60rem;
  width:90vw;
  height: 80vh;
  display: flex;
  margin-top:5%;

  &__left-col {
    @include centerContent;
    position: relative;
    background-color: $main-red;
    width:50%;

    .rw-wrapper {
      position: absolute;
      top:0%;
      left: 116%;
      width: 100%;
      font-family: 'Open Sans';
      padding-top: 5rem;
      text-align: center;
      &__sentence {
        margin: 0;
        text-align: left;
        span {
          color: #fff;
          font-size: 3rem;
          font-weight: normal;
        }
        &--words {
          display: inline;
          text-indent: 1rem;
          dsplay: none;
        }
        &--words-1 span {
          position: absolute;
          opacity: 0;
          overflow: hidden;
          color: #fff;
          -webkit-animation: rotateWord 18s linear infinite 0s;
          -ms-animation: rotateWord 18s linear infinite 0s;
          animation: rotateWord 18s linear infinite 0s;
        }
        &--words-1 span:nth-child(2) {
          -webkit-animation-delay: 3s;
          -ms-animation-delay: 3s;
          animation-delay: 3s;
          color: #fff;
        }
        &--words-1 span:nth-child(3) {
          -webkit-animation-delay: 6s;
          -ms-animation-delay: 6s;
          animation-delay: 6s;
          color: #fff;
        }
        &--words-1 span:nth-child(4) {
          -webkit-animation-delay: 9s;
          -ms-animation-delay: 9s;
          animation-delay: 9s;
          color: #fff;
        }
        &--words-1 span:nth-child(5) {
          -webkit-animation-delay: 12s;
          -ms-animation-delay: 12s;
          animation-delay: 12s;
          color: #fff;
        }
        &--words-1 span:nth-child(6) {
          -webkit-animation-delay: 15s;
          -ms-animation-delay: 15s;
          animation-delay: 15s;
          color: #fff;
        }
      }
    }
  }
  &__right-col {
    @include centerContent;
    width:50%;
    background-color: $mid-black;
  }
}


/* ==========================================================================
Projects
========================================================================== */
.projects {
  grid-row: 4 / 5;
  width: 90vw;

  /* ==========================================================================
Screenshots Intro
========================================================================== */

  .screenshots-intro {
    padding: 170px 0 100px 0;
    background-color: #f6f7f9;
  }

  .screenshots-intro h1 {
    margin-bottom: 20px;
    color: #24374b;
    font-weight: 400;
    font-size: 22px;
  }

  .screenshots-intro p {
    margin-bottom: 25px;
    color: #778899;
  }

  /* ==========================================================================
Screenshots
========================================================================== */

  .screenshots ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .screenshots ul li {
    float: left;
    min-height: 100%;
    width: 25%;
    background-color: #000;
    list-style: none;
  }

  .screenshots figure {
    position: relative;
    overflow: hidden;
  }

  .screenshots figure img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

  .screenshots figure:hover img,
  .screenshots figure:focus img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .screenshots figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 97, 132, 0.85);
    text-align: center;
    font-size: 15px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

  .screenshots figcaption a {
    color: #fff
  }

  .screenshots figcaption a:hover,
  .screenshots figcaption a:focus {
    color: #73d0da
  }

  .screenshots figure:hover figcaption,
  .screenshots figure:focus figcaption {
    opacity: 1
  }

  .visible {
    opacity: 1
  }

  .screenshots figure.cs-hover figcaption {
    opacity: 1
  }

  .screenshots figcaption i {
    font-size: 35px
  }

  .screenshots figcaption p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
  }

  .screenshots figcaption .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    width: 200px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

  .screenshots figure:hover figcaption .caption-content,
  .screenshots figure:focus figcaption .caption-content {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
/* ==========================================================================
Blog
========================================================================== */
.blog {
  grid-row: 5 / 6;
  width:90vw;
}
