footer {
  background-color: #fff;
  height: 500px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 95vw;
  margin: 4rem auto;
  padding: 60px 40px;
  z-index: -20;
}