$main-orange: #e88c30;
$mid-black: #545454;
$main-red: #FF4849;

$alabaster-white: #f9f9f9;

// COLORS
$color-primary: #55c57a;
$color-primary-light: #E4E5E6;
$color-primary-dark: #00416A;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark2: #999;
$color-grey-dark3: #333;

$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


// FONTS
$default-font-size: 1.6rem;

// GRID
$grid-width: 280rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// SHADOWS
$shadow: 0 1rem 2rem rgba($color-black, .4);
$shadow-1: 0 1.5rem 4rem rgba($color-black, .15);
$shadow-2: 0 .5rem 1rem rgba($color-black, .2);
$shadow-3: 0 3rem 6rem rgba($color-black, .1);

//SPACING
$row-padding: 10rem 0;

// BORDER RADIUS
$br-1: 3px;